
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/frontend/fonts/uYKcPVoh6c5R0NpdEY5A-Q.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/frontend/fonts/k3k702ZOKiLJc3WVjuplzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/frontend/fonts/PRmiXeptR36kaC0GEAetxpXMLUeV6_io0G3F6eXSVcg.woff) format('woff');
}																




*{
	outline: none !important;
}
.name_required{
display:none
}
.right_p img,.left_p img{margin-top: 107px}
.the_gal{margin-top: 5px;}
.zero_padding{padding-left:0;padding-right:0}
#header {
	height: 50px;
}


#logo {
	padding-top: 10px;
	padding-bottom: 10px;

	width: 150px;
	padding-top: 13px;
}

 #recent_candidates .rc{
	 padding-right:10px;
 }
.partner_container{
	padding-top: 10px;
}
.partner_container .img-responsive{max-width:142px}
.partner_logo{
	height: 175px;
	vertical-align: middle;
	display: table-cell;
}
.partner_link{ background:#FAFAFA;padding:5px;}
.partner_link a{ color:#000} 

.lang_switch {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	border-bottom: solid 2px #c54133;

	background-image: url(../img/lang_arrow.png);
	background-repeat: no-repeat;
	background-position: 36px center;
 
	background-color: #e74c3c;
	width:58px;
	height:30px;

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding-left:	11px;


	padding-left: 10px;
	padding-top: 5px;

	margin-top:10px;

	cursor:pointer;
	
	width: 50px;
	padding-left: 5px;
	height: 26px;
	background-position: 29px center;
	padding-top: 3px;
}
#mobile_menu{
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 2px;
	cursor: pointer;
}


#mobile_menu img {
	width: 30px;
}

#mobile_menu_box {
	background-color: #fff;
	position: absolute;
	left: 0px;
	
	top: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
	margin-top: 3px;

	z-index: 9999;
	left: -200px;
	border-right: solid 5px #f5d313;
}

#close_menu_btn {
	background-image: url(../img/close_mobile_menu.png);
	background-position: center center;
	width: 24%;
	height: 100px;
	margin-top: -50px;
	position: relative;
	top: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	position: absolute;
}	

#mobile_menu_box .mm_wrapper {
	width: 75%;
	display: inline-block;
}

#mobile_menu_box .mm_wrapper a {
	color: #979da4;
	font-family: 'Open Sans', sans-serif;
	vertical-align: top;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 10px;
	line-height: 35px;
	font-weight: bold;
	display: block;
}

#mobile_menu_box .mm_wrapper a:hover {
	color: #45b19d;
	text-decoration: none;
}



.no_margin_right {
	margin-right: 0 !important;
}

.lang_switch:hover {
	background-color: #f95240;
}

.lang_switch.active {
	border-bottom: none;
	border-top: solid 2px #c54133;
}

.lang_switch .options {
	background-color: #e74c3c;
	margin-top: 12px;
	width: 124px;
	margin-left: -76px;
	padding: 10px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor:default;

	overflow: hidden;
	display: none;
	position: relative;
	z-index: 100;
}

.lang_switch.active .options {
	margin-top: 10px;

}

.lang_switch .options  a {
	color:#fff;
	font-size:11px;
	width: 100%;
display: block;
padding: 2px 0;
}

.lang_switch .options a:hover {
	color: #eee;
	text-decoration: none; 

}


.lang_switch .options hr {
	margin-top: 2px;
	margin-bottom: 2px;
}

#hero_panel {
	background-image: url(../img/slide_1_768.jpg);
	background-position: top center;
	background-repeat: no-repeat;

	height: 201px;
}

.web_menu {
	text-align: right;
	padding: 0;
}


.web_menu a{ 
	padding-left: 18px;
	padding-right: 18px;

	display: inline-block;
	height: 55px;

	font-size: 16px;
	color: #979da4;

	font-family: 'Open Sans', sans-serif;
	vertical-align: top;

	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;

	line-height: 48px;
	font-weight: bold;

}

.web_menu a:hover {
	color: #45b19d;
	text-decoration: none;
}

.web_menu a.active{
	background-color: #f6f6f6;
	border-bottom: solid 5px #f5d313;
	color: #334d5c;
}



.promise_form_container {
	background-color: #2c3e50;
	border-bottom: solid 1px #fff;
	padding-bottom: 13px;
	display:none
	/*marian webfoo*/
}

.promise_form_container .form-text{
	font-size: 13px;
	color:#fefefe;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 33px;
	padding-bottom: 33px;
}


.promise_form_container .form-text .em1 {
	font-weight: bold;
	color:#edc749;
}

.promise_form_container .form-text .em2 {
	font-weight: bold;
	color:#fbb03b;
	position:relative;
} 

input[type="text"] {
	width: 100%;
	display: inline-block;;

	border:solid 1px #dee1e3;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow:  0px 0px 0px 1px #75818c;
	box-shadow:  0px 0px 0px 1px #75818c;
	padding-left: 14px;

	color:#34495e;
	font-family: 'Open Sans', sans-serif;



	height: 30px;
	font-size: 13px;
}

input[type="text"]:focus{
	/*outline: #efc94c solid 3px;*/
	box-shadow: 0px 0px 0px 2pt #efc94c;
}

.promise_form_container input[type="text"] {
	margin-bottom: 20px;
}

input[type="submit"] {

	background-color: #1abc9c;
	border: none;
	border-bottom: solid 2px #15967d;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	display: block;
	width: 100%;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;




	height: 30px;
	font-size: 14px;

}

input[type="submit"]:hover {
	background-color: #1ed6b2;

	
}
.youtube_video{

background-color: #1ABC9C;
border: none;
border-bottom: solid 2px #15967D;
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
display: inline-block;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
text-align: center;
font-size: 14px;
padding: 10px;
	

}
.youtube_video:hover{

background-color: #1ED6B2;

color: #FFF;
text-decoration:none;

}
input[type="submit"].active {
	border-bottom: 0px;
	border-top:  solid 2px #15967d;
}




 #input_wrapper {
	padding: 2px;
	background-color: #f5d313;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
		line-height:19px;
		
			display:none;
	/* marian webfoo*/
}

#input_wrapper.focused {
	background-color: #FFDF2D;
}

.search_strip #input_wrapper {
	background-color: #1abc9c;
	

	
	
}

.search_strip #input_wrapper.focused {
	background-color: #f5d313;
}
.search_strip #input_wrapper.focusable_child input[type="text"]  {
	border: solid 1px #1abc9c; 
} 

.search_strip #input_wrapper.focusable_child.focused input[type="text"] {
	border: solid 1px #f5d313;
}


 #input_wrapper input[type="text"]{
	height: 40px;
	width: 87%;
	border: solid 2px #efc94c;
	font-family: 'Open Sans', sans-serif;
	box-shadow: none;
}

 #input_wrapper.focused input[type="text"]{
	border: solid 2px #FFDF2D;
 
 }
 

#input_wrapper input[type="submit"]{
	position: absolute;
	right:0px;
	top: 0px;
	bottom:0px;
	cursor: pointer;
	width: 13%;
	background-color: transparent;
	height: 100%;
	border: none;
	background-image: url(../img/search_icon.png);
	background-repeat: no-repeat;
	background-position: center center;
}


#home_search_wrapper .title { 
	font-size: 21px; 
	color: #fff;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-top: 110px;
	margin-bottom: 5px;
	text-shadow: 0px 0px 7px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=0);
}


#home_search_wrapper .text {
	font-size: 14px;
	color:#ffffff;
	font-family: Arial, 'Helvetica Neue', sans-serif;

}


#qa_section {
	border-top: solid 10px #f5d313;
}

#qa_section .pseudoli  {
	position: relative;
}

#qa_section .pseudoli .date_holder{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left:20px;
	font-size: 11px;
	color:#1abc9c;
}


#qa_section .title {
	color:#34495e;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 36px;
	line-height: 26px;
	margin-bottom: 27px;
}

#qa_section .title.green {
	color:#1abc9c;
}


#qa_section .text {
	font-size: 15px;
	color:#2c3e50;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 27px;
}

#qa_section .text.light {
	color:#2c3e50;
	font-size: 14px;
}

#qa_section .text a {
	font-weight: bold;
	color: #1abc9c;
}

#qa_section .text a:hover{ 
	text-decoration: none;
}


#qa_section .site_name {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

#qa_section .pseudoli .li{
	color:#2c3e50;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;

	background-image: url(../img/qa_li1.png);
	background-repeat: no-repeat;
	background-position: 25px center;
	padding-left: 49px;
	font-size: 14px;
}


#qa_section .pseudoli .li2{
	background-image: url(../img/qa_li2.png);
}


#qa_section .pseudoli .li3{
	background-image: url(../img/qa_li3.png);
}



#qa_section .pseudoli {

	margin-bottom: 27px;
}


.green_down_arrow {
	display: block;
	margin: 0 auto;
	width: 44px;
	height: 21px;
	background-image: url(../img/down_green_arrow.png);
}

.green_down_arrow:hover {
	position: relative;
	top: 2px;
}


.yellow_button {
	display: inline-block;
	font-size: 18px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	background-color: #f8de18;
	border-bottom: solid 2px #c6b213;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 40px;
	padding-right: 40px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.yellow_button.active {
	border-bottom: none;
	border-top: solid 2px #c6b213;
}

.yellow_button:hover{
	color: #fff;
	background-color: #ffe419;
	text-decoration: none;
}


.green_button {
	display: inline-block;
	font-size: 18px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	background-color: #1abc9c;
	border-bottom: solid 2px #15967d;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 40px;
	padding-right: 40px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.green_button.active {
	border-bottom: none;
	border-top: solid 2px #15967d;
}

.green_button:hover{
	color: #fff;
	background-color: #1ed6b2;
	text-decoration: none;

}



.text_align_center {
	text-align: center;
}

.text_align_left{
	text-align: left;
}

.text_align_right{
	text-align: right;
}

.inline_block_t {
	display: inline-block; 
	vertical-align: top;
}
.fb_but, .dias_but{
	float:left;
	margin-right:10px;
}


#qa_section  .cursive_invitation{
	font-size: 38px;
	font-family: 'Leckerli One', cursive;
	font-weight: bold;
	color: #c4c6c7;
	opacity: 0.99;
	-webkit-font-smoothing: antialiased;

	margin-bottom: 20px;
	margin-top: 100px;
}

#electors_image {
	margin-top: 40px;
}




#footer_top {
	border-top: solid 1px #ffffff;
	background-color: #2c3e50;

	padding-top: 33px;
	padding-bottom: 33px;
}

#footer_top .footer_sm {

	width: 25%;
	display: inline-block;
	vertical-align: top;
}


#footer_top .footer_twitter {
	height:26px;
	background-image: url(../img/footer_twitter.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 14px;
}

#footer_top .footer_twitter:hover {
	background-position: center -26px;
}



#footer_top .footer_facebook {
	height: 32px;
	background-image: url(../img/footer_facebook.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 11px;
}

#footer_top .footer_facebook:hover {
	background-position: center -32px;
}


#footer_top .footer_gplus {
	height: 32px;
	background-image: url(../img/footer_gplus.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 11px;
}

#footer_top .footer_gplus:hover {
	background-position: center -32px;
}


#footer_top .footer_mail{
	height: 22px;
	background-image: url(../img/footer_mail.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 16px;
}

#footer_top .footer_mail:hover {
	background-position: center -22px;
}


#footer_top  .title {
	font-size: 28px;
	color: #1b2129;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

#footer_top .col-sm-4 {
	padding-top: 0px;
}

#footer_top .green_button{
	font-size: 16px;
	margin-top: 20px;
}


#footer_bottom {
	background-color: #1b2129;
	color: #586d82;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}


#map_section {
	border-top: solid 2px #d4d9dc;
	border-bottom: solid 10px #f5d313;
	background-color: #ecf0f1;
}

#recent_candidates ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#recent_candidates .title {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #1abc9c;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}


#recent_candidates .rc {
	background-color:#ffffff;
	border-top: solid 1px #fafbfb;
	border-bottom: solid 1px #fafbfb;
	padding-left: 60px;
	padding-top: 9px;
	padding-bottom: 16px;
	margin-bottom: 2px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-position: 14px center;
	background-repeat: no-repeat;
}


#recent_candidates .rc .name {
	font-size: 18px;
	color:#34495e;
	font-weight: bold;
}

#recent_candidates .rc .text {
	font-family: Arial, 'Helvetica Neue', sans-serif;
	font-size: 12px;
	color: #4d4d4d;
}
/*
#recent_candidates .rc.uk{
	background-image: url(../img/recent_uk.png);
}


#recent_candidates .rc.ger {
	background-image: url(../img/recent_ger.png);
}


#recent_candidates .rc.sp {
	background-image: url(../img/recent_sp.png);
}*/



#recent_candidates .rc.at {
	background-image: url(../img/flags/at.png);
}
#recent_candidates .rc.be {
	background-image: url(../img/flags/be.png);
}
#recent_candidates .rc.bg {
	background-image: url(../img/flags/bg.png);
}
#recent_candidates .rc.hr {
	background-image: url(../img/flags/hr.png);
}
#recent_candidates .rc.cy {
	background-image: url(../img/flags/cy.png);
}
#recent_candidates .rc.cz {
	background-image: url(../img/flags/cz.png);
}
#recent_candidates .rc.dk {
	background-image: url(../img/flags/dk.png);
}
#recent_candidates .rc.ee {
	background-image: url(../img/flags/ee.png);
}
#recent_candidates .rc.fi {
	background-image: url(../img/flags/fi.png);
}
#recent_candidates .rc.fr {
	background-image: url(../img/flags/fr.png);
}
#recent_candidates .rc.de {
	background-image: url(../img/flags/de.png);
}
#recent_candidates .rc.gr {
	background-image: url(../img/flags/gr.png);
}

#recent_candidates .rc.hu {
	background-image: url(../img/flags/hu.png);
}
#recent_candidates .rc.ie {
	background-image: url(../img/flags/ie.png);
}
#recent_candidates .rc.it {
	background-image: url(../img/flags/it.png);
}

#recent_candidates .rc.lv {
	background-image: url(../img/flags/lv.png);
}
#recent_candidates .rc.lt {
	background-image: url(../img/flags/lt.png);
}
#recent_candidates .rc.lu {
	background-image: url(../img/flags/lu.png);
}
#recent_candidates .rc.mt {
	background-image: url(../img/flags/mt.png);
}
#recent_candidates .rc.nl {
	background-image: url(../img/flags/nl.png);
}
#recent_candidates .rc.pl {
	background-image: url(../img/flags/pl.png);
}
#recent_candidates .rc.pt {
	background-image: url(../img/flags/pt.png);
}
#recent_candidates .rc.ro {
	background-image: url(../img/flags/ro.png);
}
#recent_candidates .rc.sk {
	background-image: url(../img/flags/sk.png);
}
#recent_candidates .rc.si {
	background-image: url(../img/flags/si.png);
}
#recent_candidates .rc.es {
	background-image: url(../img/flags/es.png);
}
#recent_candidates .rc.se {
	background-image: url(../img/flags/se.png);
}
#recent_candidates .rc.gb {
	background-image: url(../img/flags/gb.png);
}



#recent_candidates .green_down_arrow{
	margin-top:30px;
	margin-bottom: 30px;
}

#map_section .legend_col {
	position: relative;
	z-index: 100;
}

#map_section .legend_col .title{
	font-size: 28px;
	color: #34495e;
	font-family: 'Open Sans', sans-serif;
	margin-top: 16px;
	font-weight: bold;
	width: 100%;
	
	position: relative;
	z-index: 100;
}

.big_z_index {
	z-index: 999999;
}


#map_section .legend_col .text {
	color:#2c3e50;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	width:100%;

	margin-top: 13px;
}


#map_section .legend_col  .countries_block {
	padding-bottom: 25px;
}

#map_section .legend_col .candidates_wrapper {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}


#map_section .legend_col  .countries_block .wr  {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	display: inline-block;
	vertical-align: top;
	
	width: 50%;
}

.no_padding_left {
	padding-left: 0px !important;
}

.no_padding_right {
	padding-right: 0px !important;
}


.countries_block .toggable{
	cursor: pointer;
	font-family: Arial, 'Helvetica Neue', sans-serif;
	color: #2c3e50;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	
	padding-left: 17px;
}

.countries_block .toggable:hover {
	text-decoration: underline;
}

.countries_block .toggable.on {
	font-weight: bold;
	color:#2c3e50;
	text-decoration: none;
	background-color: #f2faf8;
}

#map_container {
	position: relative;
	margin-top: 50px;
}
.message_succes,.please_validate_email{
display:none;
	color:#1ABC9C;
	font-size:36px;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
.message_error,.message_error_email{ 
	display:none;
	color:#E74C3C;
	font-size:36px;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

.pseudo_select {
	width: 100%;
	display: inline-block;
	border: solid 1px #dee1e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 0px 1px #75818c;
	box-shadow: 0px 0px 0px 1px #75818c;
	padding-left: 14px;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	height: 40px;
	font-size: 16px;
	background-color: #fff;
	line-height: 40px;
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
	background-position: right -1px;
	cursor: pointer;
	position: relative;
	
	
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	margin-bottom: 20px;
	background-position: right -7px;
	
	
}

.pseudo_select:hover{
	background-position: right -47px;
}

.pseudo_select.focused {
	box-shadow: 0px 0px 0px 2pt #efc94c;
}

.pseudo_select.selected{
	color: #34495e;

}
.pseudo_select .options {
	display: none;
	background-color: inherit;
	position: absolute;
	left: 0px;
	right: 0;
	height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
	z-index: 99999;
	color: #34495e;
	line-height: 30px;
	
	border: inherit;
	border-top: none;

}

.pseudo_select .options > div:hover {
	background-color: #fafafa;
} 

.pseudo_select .options > div{
	padding-left: 10px;
	padding-right: 10px;
}
/*##############################################################################################################################33*/

.twitter-typeahead {
	width: 87%;
}

#hero_panel #input_wrapper input[type="text"] {
	width: 100%;

}
   


.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


#map {
	width: 100%;
}


/*OVERRIDE THE AUTOCOMPLETE CSS*/


.tt-dropdown-menu {
	left: 3px !important;
	right: 3px !important;
	width: auto !important;  
}

.tt-suggestion {
	font: inherit !important;
}

/*mao toooooltip*/


.map_tooltip{
	position: absolute;
	background-color: #2c3e50;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	font-size: 14px;
	color: #fff;
	
	
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	
	-webkit-box-shadow: 6px 3px 0 2px rgba(0,0,0,0.2);
	box-shadow: 6px 3px 0 2px rgba(0,0,0,0.2);
	
	top: 258px;
	left: 180px;
	margin-top: -59px;
	
	visibility: hidden;
	text-align: center;
	
}

.map_tooltip .country {
	text-align: center;
	text-transform: uppercase;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
	font-size: 14px;
	color: #1abb9c;
	display: block;
	white-space: nowrap;
	
	width: 100%;
}
.map_tooltip .label {
	display: block;
}

.map_tooltip .nub{
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-left: -5px;
	
	border-top: solid 6px #2c3e50;
	border-bottom: solid 6px transparent;
	border-left: solid 6px transparent;
	border-right: solid 6px transparent;
	
}

.map_tooltip .nub .nub_shadow{
	display: inline-block;
	width: 14px;
	height: 6px;
	background-image: url(../img/nub_shadow.png);
	background-repeat: no-repeat;
	
	position: absolute;
	top: -1px;
}


.c_tooltip {
	position: absolute;
	background-color: #192531;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	font-size: 14px;
	color: #fff;
	
	
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	
	-webkit-box-shadow: -6px 3px 0 2px rgba(0,0,0,0.2);
	box-shadow: -6px 3px 0 2px rgba(0,0,0,0.2);
	
	margin-top: -133px;
	
	
	margin-left: 40px;
	text-align: center;
	opacity: 0.99;
	-webkit-font-smoothing: antialiased;
	
	display: none;
	
}

.c_tooltip .nub {
	position: absolute;
	top: 100%;
	left: 18%;
	width: 0px;
	height: 0px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-left: -5px;
	
	
	border-top: 14px solid #192531;
	border-right: 12px solid transparent;
}

.c_tooltip .label {
	display: block;
	text-align: center;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
	font-size: 12px;
	width: 110px;
	white-space: normal;
}

.c_tooltip .title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	
	font-size: 30px;
	display: block;
	text-align: center;
	
	line-height: 33px;
}

.c_tooltip .nub .nub_shadow {
	display: inline-block;
	width: 16px;
	height: 13px;
	background-image: url(../img/nub_shadow_2.png);
	background-repeat: no-repeat;
	
	position: absolute;
	
	top: -9px;
	left: -6px;
}

.c_tooltip .c_close {
	display: inline-block;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffee90;
	position: absolute;
	top: -4px;
	right: 3px;
	padding: 4px;
	cursor: pointer;
}

.c_tooltip .c_close:hover {
	color: #ccc;
}


/*###################################################################################################################################3*/
/*  RESULTS PAGE  */



.relative_positioned {
	position: relative;
}
.relative_positioned .text-center{
	font-size:20px;
	margin-top:10px;
	color:#2C3E50;
	display:none;
}

.results_page .promise_form_container  {
	border-top: solid 4px #425262;
	margin-top: -1px;
	display:none;
	/* marian webfoo*/
}


.results_page .search_strip {
		/* display:none;
marian webfoo*/
	border-top: solid 10px #f5d313;
}

.search_strip .search_quote {
	font-size: 18px; 
	color: #979da4;
	font-family: 'Open Sans', sans-serif;
	margin-top: 17px;
	margin-bottom: 17px;
}

.search_strip  .quote {
	font-style: italic;
	color: #2c3e50;
	font-weight: bold;
}

.search_strip #input_wrapper {
	margin-top: 10px;
	padding: 0px;
	margin-bottom: 9px;
}


.search_strip #input_wrapper input[type="text"] {
	border: solid 1px #efc94c;
	
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 100%; 
	
}

.search_strip #input_wrapper input[type="submit"] {
	background-image: url(../img/small_magnifier.png);
}


.c_tooltip.reversed .nub {
	top: -14px;
	border-top: none;
	border-bottom: 14px solid #192531;
}

.c_tooltip.reversed {
	display: block;
	bottom: -126px;
	z-index: 999;
	right: 0px;
	width: 129px;
	padding-top: 20px;
	padding-bottom: 20px;
	
	bottom: -93px;
	left: 100px;
}

.c_tooltip.reversed .nub .nub_shadow {
	background-image: url(../img/nub_shadow_3.png); 
	top: 2px;
}



#results_container {
	background-color: #ecf0f1;
	border-top: solid 1px #d4d9dc;
	padding-top: 40px;
	min-height:200px
}

#results_container .result {
	background-color: #fff;
	position:relative;
}

#results_container .result .title {
	font-size: 14px;
	color: #2c3e50;
	font-family: 'Open Sans', sans-serif;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 21px;
	padding-left: 58px;
	padding-right: 20px;
	
	background-repeat: no-repeat;
	background-position: 13px center;
}


#results_container .result .title.flag-gb {
	background-image: url(../img/flags/gb.png);
}



#results_container .result .title.flag-de {
	background-image: url(../img/flags/de.png);
}




#results_container .result .title.flag-at {
	background-image: url(../img/flags/at.png);
}



#results_container .result .title.flag-be {
	background-image: url(../img/flags/be.png);
}



#results_container .result .title.flag-bg {
	background-image: url(../img/flags/bg.png);
}



#results_container .result .title.flag-hr {
	background-image: url(../img/flags/hr.png);
}



#results_container .result .title.flag-cy {
	background-image: url(../img/flags/cy.png);
}



#results_container .result .title.flag-cz {
	background-image: url(../img/flags/cz.png);
}



#results_container .result .title.flag-dk {
	background-image: url(../img/flags/dk.png);
}



#results_container .result .title.flag-ee {
	background-image: url(../img/flags/ee.png);
}



#results_container .result .title.flag-fi {
	background-image: url(../img/flags/fi.png);
}



#results_container .result .title.flag-fr {
	background-image: url(../img/flags/fr.png);
}



#results_container .result .title.flag-gr {
	background-image: url(../img/flags/gr.png);
}



#results_container .result .title.flag-hu {
	background-image: url(../img/flags/hu.png);
}



#results_container .result .title.flag-ie {
	background-image: url(../img/flags/ie.png);
}



#results_container .result .title.flag-it {
	background-image: url(../img/flags/it.png);
}



#results_container .result .title.flag-lv {
	background-image: url(../img/flags/lv.png);
}



#results_container .result .title.flag-lt {
	background-image: url(../img/flags/lt.png);
}





#results_container .result .title.flag-lu {
	background-image: url(../img/flags/lu.png);
}





#results_container .result .title.flag-mt {
	background-image: url(../img/flags/mt.png);
}





#results_container .result .title.flag-nl {
	background-image: url(../img/flags/nl.png);
}





#results_container .result .title.flag-pl {
	background-image: url(../img/flags/pl.png);
}





#results_container .result .title.flag-pt {
	background-image: url(../img/flags/pt.png);
}





#results_container .result .title.flag-ro {
	background-image: url(../img/flags/ro.png);
}





#results_container .result .title.flag-sk {
	background-image: url(../img/flags/sk.png);
}





#results_container .result .title.flag-si {
	background-image: url(../img/flags/si.png);
}





#results_container .result .title.flag-es {
	background-image: url(../img/flags/es.png);
}





#results_container .result .title.flag-se {
	background-image: url(../img/flags/se.png);
}




#results_container .result .title.flag-gb {
	background-image: url(../img/flags/gb.png);
}


#results_container .result .abso{
	position: absolute;
	text-align: center;
	width: 100%;
	font-weight: bold;
	padding: 2px 0;
	font-size: 12px;
	color: #FFF;
	top: 0px;
	text-transform: uppercase;
	background: #1ABC9C;
}

#results_container .result .name {
	background-color: #2c3e50;
	
	padding: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	
}

#results_container .result .party {
	font-size: 16px;
	color: #45b19d;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 8px;
	overflow: hidden; 

	
}

#results_container .result .party a{
	font-size: 14px;
	font-weight: normal;
	position: relative;
	top: -7px;
	color: #45b19d;
	
}

#results_container .result p {
	font-size: 13px;
	color: #2c3e50;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 13px;
	
}


#results_container .result .fb {
	display: inline-block;
	width: 11px;
	height: 21px;
	background-image: url(../img/result_fb.png);
}

#results_container .result .fb:hover {
	background-position: 0px -21px;
}

#results_container .result .tw {
	display: inline-block;
	margin-top: 4px;
	width: 21px;
	height: 17px;
	background-image: url(../img/result_tw.png);
}

#results_container .result .tw:hover {
	background-position: 0px -17px;
}

#results_container .result .gplus {
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url(../img/result_gplus.png);
}

#results_container .result .gplus:hover {
	background-position: 0px -21px;
}

#results_container .result .mail{
	display: inline-block;
	width: 22px;
	height: 15px;
	margin-top: 6px;
	background-image: url(../img/result_mail.png);
}

#results_container .result .mail:hover {
	background-position: 0px -15px;
}

#results_container .result  .social {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

#results_container .result {
	border-bottom: solid 5px #1abc9c;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	
	margin-bottom: 40px;
}

#results_container .result:hover {
	border-color: #f5d313;
	margin: 0px;
	margin-bottom: 40px;
	
	border-top: solid 1px #f5d313;
	border-right: solid 1px #f5d313;
	border-left: solid 1px #f5d313; 
	
	-webkit-box-shadow: -12px 12px 0 0 rgba(0,0,0,0.05);
	box-shadow: -12px 12px 0 0 rgba(0,0,0,0.05);
}

#results_container .result_section_delimiter {
	border: solid 1px #dfe6e8;
	border-top: none;
	padding-top: 7px;
	padding-bottom: 15px;
	padding-left: 18px;
	
	font-size: 14px;
	color: #979da4;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

/*###############################################################################################*/



.text_page {
	background-color: #ecf0f1;
	border-top: solid 2px #d4d9dc;

}


.text_page_block {
	background-color: #fff;
	border-bottom: solid 5px #1abc9c;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 40px; 
	font-family: 'Open Sans', sans-serif;
	padding-top: 60px;
	padding-bottom: 80px;
}

.text_page_block  p {
	text-align: justify;
}


.text_page_block .title{
	color: #34495e;
	font-family: 'Open Sans', sans-serif;
	border-bottom: solid 1px #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-top: 10px;
}
 

#recent_candidates:hover .rc {
	background-color: #f7f8f8;
	cursor: pointer;
}



#recent_candidates:hover .rc:hover {
	background-color: #fff;
	border: solid 1px #efc94c;
	padding-left: 59px;
	padding-top: 9px;
	padding-bottom: 16px;
	background-position: 13px center;
	
}

.force_display {
	display: block !important;
}

label[for="also_subscribe_newsletter"] {
	font-size: 9px;
	cursor: pointer;
	color: #fff;
	
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 0 19px;
	margin-top: 13px;
	display: block;
} 

#promise_to_vote_form input[type="checkbox"]{
display:none;

}

#also_subscribe_newsletter {
	margin-left: -13px;
	position: relative;
	top: 3px;
}

/*________________________________small_______________________________________________________________________________________________________________*/

	#the_checkbox{
		width:16px;
		height:16px;
		display:inline-block;
		background:#fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	#the_checkbox.active{
		background:url(../img/checkbox.png) no-repeat center center #fff;
		background-size:10px 10px;
		width:16px;
		height:16px;	
	}
	.receive_newsletter{padding-left:15px}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
.table_cell{
	display: table-cell;
	vertical-align: middle;
}
#the_checkbox{

	display:block;
	background:#fff;
	float:left;
}
#the_checkbox.active{
	
	display:block;
} 
	#hero_panel { 
		height: 400px;
	}

	#logo {

		width: 150px;
		padding-top: 13px;
	}



	#hero_panel {
		background-image: url(../img/slide_1_992.jpg);
		height: 259px;
	}

	.web_menu a.active{ 
		border-bottom: solid 5px #f5d313;
	}

	#home_search_wrapper .text {
		margin-bottom: 15px;
		text-shadow: 0px 0px 7px #000;
	}

	#home_search_wrapper .title {
		margin-top: 10px;
	}

	#footer_top .title {
		font-size: 36px; 
	}

	#footer_top .green_button{
		margin-top: 10px;
	}


	#qa_section  .cursive_invitation{ 
		font-size: 20px;
		font-weight: normal;
	}

		
	.col-md-3.rc_column {
		padding-left: 0px;
		padding-right: 0px ;
	}
	
	
	.results_page .promise_form_container  {
		border-top: solid 5px #425262;
		margin-top: 0px;
	}
	
		
	.promise_form_container .form-text > * {
		position: relative;
	}
	
	
	.lang_switch {
		width: 58px;
		padding-left: 10px;
		height: 30px;
		background-position: 36px center;
		margin-top:10px;
	}
	
	#logo {
		padding-top: 9px;
		width: 200px;
	}
	
	#mobile_menu, #mobile_menu_box {
		display: none !important;
	}
	
	.c_tooltip.reversed {
		left: 0px;
		bottom: -126px;
	}

}

/*________________________________medium______________________________________________________________________________________________________________*/


/* Portrait tablet to landscape and desktop */
@media (min-width: 992px) { 
	#hero_panel {
		height: 480px;
	}

	#header {
		height: 60px;
	}

	#logo { 
		padding-top: 10px;
		width: auto;
	}


	.web_menu a{ 
		font-size: 14px;
		line-height: 58px;
		height: 68px;
	}

	.lang_switch {
		margin-top: 15px;
	}


	#hero_panel {
		background-image: url(../img/slide_1_1200.jpg);
		height: 313px;
	}

	.web_menu a.active{ 
		border-bottom: solid 7px #f5d313;
	}

	.promise_form_container input[type="text"] {
		margin-bottom: 0px;
	}


	.promise_form_container .form-text{ 
		font-size: 18px;
	}
	input[type="text"] {
		height: 38px;
		font-size: 16px;
	}

	input[type="submit"] {
	
		font-size: 18px;
		height: 40px;
	}

	#home_search_wrapper .title {
		margin-top: 50px;
		margin-bottom: 15px;
		font-size: 32px;
	}

	#home_search_wrapper .text {

		margin-bottom: 25px;
	}

	#footer_top  .title {
		font-size: 45px;
	}

	#footer_top .col-sm-4 {
		padding-top: 10px;
	}

	
	#qa_section  .cursive_invitation{
		font-size: 40px;
		font-weight: bold;
	}


	#footer_bottom { 
		font-size: 14px;
	}



	#map_section .legend_col .title{ 
		width: 800px;
		font-size: 62px;
	}


	#map_section .legend_col .text { 
		width:355px;
		font-size: 14px;
		line-height: 24px;
	}
	
	.countries_block {
		padding-right: 0px !important;
	}
	

	
	.results_page .promise_form_container  {
		border-top: solid 8px #425262;
		margin-top: 1px;
	}
	
	.pseudo_select {
	
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			margin-bottom: 0px;
			background-position: right -1px;
	}
	
	.pseudo_select:hover {
			background-position: right -41px;
	}
	label[for="also_subscribe_newsletter"] {
		font-size: 13px;

	} 

}

/*________________________________large_______________________________________________________________________________________________________________*/


/* Portrait tablet to landscape and desktop */
@media (min-width: 1200px) { 

	.web_menu a{ 
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
		height: 70px;
	}


	#hero_panel {
		background-image: url(../img/slide_1.jpg);
		height: 480px;
		background-size: auto 480px;
		height: 500px;
		background-size: auto 500px;
	}
	.web_menu a.active{ 
		border-bottom: solid 11px #f5d313;
	}


	#home_search_wrapper .title { 
		font-size: 36px;
		margin-top: 116px;
		margin-bottom: 20px;
	}

	#home_search_wrapper .text {
		margin-bottom: 35px;
	}

	#hero_panel #input_wrapper input[type="text"] {
		height:60px;
		font-size: 18px;
	}


	#footer_top  .title {
		font-size: 57px;
	}
	#footer_top .col-sm-4 {
		padding-top: 20px;
	}

	#footer_top .green_button{
		margin-top: 25px;
	}

	#qa_section  .cursive_invitation{
		font-size: 48px;
	}
	
	.rc_col {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	
	.results_page .promise_form_container  {
		border-top: solid 11px #425262;
		margin-top: -1px;
	}
	
	#results_container .result {
		margin-bottom: 0px;
	}
	
	#results_container .result:hover {
		margin-bottom: 0px;
	}

}
